@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&family=Lacquer&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
   width: 100%; 
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg, rgb(57 89 57), rgb(46 50 79));
}

.calculator{
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px 1px 18px rgba(255, 255, 255, 0.3);
}

input{
    width: 320px;
    border: none;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0px 1px 15px rgba(248, 248, 248, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: white;
}

button{
    border: none;
    width: 77px;
    height: 80px;
    margin: 3px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(42, 37, 37, 0.2);
    cursor: pointer;
    font: bold;
}
.equalBtn{
    color: rgb(178, 247, 180);
}

.acBtn{
    color: rgb(178, 247, 180);
}

.delBtn{
    color: rgb(185, 44, 44);
}

.operators{
    color: rgb(178, 247, 180);
}